<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fkp.template.modules.app.mapper.SysAppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fkp.template.modules.app.entity.SysApp">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="addr" property="addr" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, addr, create_date
    </sql>

    <select id="selectTest" resultType="java.util.Map">
        select
            case
                when name = '1' and remark &gt;= #{current} then '2'
                when name = '1' and remark &lt; #{current} then '3'
                when name = '2' then '4'
            end as state,
            count(1) as count,
            age as age
        from sys_app
        where addr = 'a'
        group by state, age;
    </select>

</mapper>
